<h3>Displaying Photos for Album @AlbumId</h3>

@if (!@Photos.Any())
{
    <h3>No Photos found</h3> 
}

@foreach (var photo in Photos)
{
    <PhotoCard Photo="photo" />
}

@code {
    [Parameter, EditorRequired]
    public int AlbumId { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<Photo> Photos { get; set; } = Enumerable.Empty<Photo>();
}
