@inherits LayoutComponentBase

<main>

    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Photo Viewer
            </p>
            <p class="subtitle">
                Powered by <a target="_blank" href="https://jsonplaceholder.typicode.com/">{JSON} Placeholder</a>
            </p>
        </div>
    </section>

    @Body
</main>
